.title {
  color: #333;
  padding-bottom: 1.25rem;
  text-align: center;
}

.text {
  color: #777;
}


.btn {
  display: block;
  width: 150px;
  padding: 0.5rem 0;
  margin: 1.25rem auto;
  background: #4979ff;
  border-radius: 0.25rem;
  color: #fff;
  text-align: center;
}


